{% load static %}
<!-- cargando las etiquetas y los filtros para manejar archivos estáticos -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    


    <title>Lista de tipos de planes</title>
</head>
<body>
    
    <h1>Lista de tipos de planes</h1>
    <ul>
        {% for tipos_de_planes in tipo_de_plan %}
            <li>{{ usuario.nombre }} {{ usuario.apellido }} - {{ usuario.telefono }}
                <a href="{% url 'tipo_plan_edit' usuario.id %}">Editar</a>
                <a href="{% url 'tipo_plan_delete' usuario.id %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
    <ul>
        <li><a href="{% url 'tipo_plan_add' %}">Agregar nuevo plan </a></li>
        <li><a href="{% url 'usuario_list' %}">Lista de usuarios</a></li>
    </ul>
  
    
    


    <!-- JavaScript Personalizado -->
    <script src="{% static 'js/validaciones.js' %}"></script>

</body>
</html>
